<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - GroceryGenie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylestwo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesfooter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <header class="header">
        <a href="#" class="logo">GroceryGenie</a>
        <nav class="navbar">
            <a href="/login">Home</a>
            <a href="about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <div style="margin: 90px auto; width: fit-content;">
        <h1>About Us</h1>
        <p>
            GroceryGenie is your one-stop solution for all your grocery shopping needs. 
            Our mission is to make grocery shopping convenient, efficient, and enjoyable for everyone.
        </p>
        <p>
            We strive to provide the best grocery shopping list, excellent customer service, and 
            seamless shopping experience to our users.
        </p>
        <p>

        </p>
        <b>...</b><p>
            <b>STill currently under construction...</b>
        </p>
    </div>

    <footer>
        <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="links">
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        
        <div style="margin: 20px auto 0; width: 90px;">
            <img src="{{ url_for('static', filename='images/GroceryGenie logo.png') }}" alt="GroceryGenie Logo" style="width: 100%; border-radius: 70px;">
        </div>
    </footer>
</body>
</html>
