<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - GroceryGenie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylestwo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesfooter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/contact.css">

    

   

</head>
<body>
    <header class="header">
        <a href="#" class="logo">GroceryGenie</a>
        <nav class="navbar">
            <a href="/login">Home</a>
            <a href="/about">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <div class="contact-form" style="margin: 130px auto; width: fit-content;">

  <!--  <div style="margin: 90px auto; width: fit-content;"> -->
        <h1>Contact Page</h1>
        <p>
        </p>
        
 <!--   </div> -->


<form action="https://formspree.io/f/mayrlrqp" method="POST">
        <!-- <form id="contact-form" action="confirmation.html" method="post" onsubmit="submitForm(); return false;">  -->
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="text" name="subject" placeholder="Subject" required> <!-- New Subject Field -->
            <textarea name="message" placeholder="Your Message" required></textarea>
          
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">

        </form>
        <a id="find-us" class="btn-find-us" href="#find-us">Find Us</a>
        <a id="Have questions?" class="btn-qustions" href="#qustions-us">Questions?</a>
        <img src="location_image.jpg" alt="Location Image" class="location-image">


    </div>
    <!-- output with using FormSpree service-->
    <!-- Thanks!
The form was submitted successfully.

Go back  -->
    

    <footer>
        <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="links">
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        
        <div style="margin: 20px auto 0; width: 90px;">
            <img src="{{ url_for('static', filename='images/GroceryGenie logo.png') }}" alt="GroceryGenie Logo" style="width: 100%; border-radius: 70px;">
        </div>

    </footer>
</body>
</html>
