body {
    font-family: Arial, sans-serif;
    background-color: #f8f6f5;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.form-button {
    padding: 10px;
    width: 28%; /* Adjust this value as necessary to fit all buttons */
    background-color: #5cb85c; /* Example color, adjust as needed */
    color: white;
    border: none;
    cursor: pointer;
}

.frm {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #c9d1c9;
    color: rgb(4, 4, 4);
    border: none;
    cursor: auto;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #4cae4c;
}

.flex-container{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.savedListsHeader{
    text-align: center;
    margin-bottom: 10px;
}

.shoppingListHeader{
    text-align:center;
}

#categoriesContainer{
    flex:1;
    margin-left: 200px;
    padding: 50px;
    margin-top: 20px;
}

.form-button {
    padding: 10px;
    width: 28%; /* Adjust the width as needed */
    margin-right: 10px; /* Add margin between buttons */
}

.side-window {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    padding: 20px;
    background-color: #ffffff; /* A lighter shade for a cleaner look */
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    z-index: 1000;
    display: none;
    transition: right 0.3s; /* Smooth transition for opening and closing */
}

.side-window form {
    margin-top: 20px; /* Additional top margin for the explanation text */
    display: flex;
    flex-direction: column;
}

.side-window input[type="text"], .side-window textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 4px; /* Rounded corners */
}

.side-window button {
    padding: 10px;
    background-color: #4CAF50; /* A more vibrant green */
    color: white;
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth background transition on hover */
}

.side-window button:hover {
    background-color: #45a049; /* Darker shade on hover */
}

#listDates {
    height: 60px; /* Adjust the height as needed */
    width: 70%; /* Ensure it takes up the full width */
    padding: 20px;
}

.saved-lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Adjust margin as needed */
    padding: 50px;
    margin-left: 600px;
}

#shoppingListHeader {
    color: #333;
    text-align: left;
    margin-left: 150px;
}

#itemInput {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
}

#processListButton {
    color: white;
    background-color:red
}

#addItemButton {
    padding: 10px;
    width: 28%;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

#downloadListButton {
    padding: 10px;
    width: 28%;
    background-color: #f696de;
    color: white;
    border: none;
    cursor: pointer;
}

#downloadListButton:hover {
    background-color: #ed62e4;
}

#addItemButton:hover {
    background-color: #4cae4c;
}

#shoppingList {
    list-style-type: none;
    padding: 0;
    
}

#shoppingList li {
    display: flex;
    align-items: center; /* This ensures vertical centering of checkbox and text */
    background-color: #eee;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    
}

#saveListButton {
    background-color:purple
}

#saveListButton:hover {
    background-color: #560181;
}

#clearListButton {
    padding: 10px;
    width: 28%;
    background-color: #d9534f; 
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px; 
}

#clearListButton:hover {
    background-color: #c9302c;
}

#shoppingList li input[type="checkbox"] {
    margin-right: 10px;
    max-height: 500px; /* Adjust based on your needs */
    overflow-y: auto; /* Enables vertical scrolling */
}

#toggleSideWindowBtn {
    padding: 10px;
    background-color: #3498db; /* Choose a color that fits your design */
    color: white;
    border: none;
    cursor: pointer;
}

#toggleSideWindowBtn:hover {
    background-color: #2980b9; /* Slightly darker shade on hover */
}