body {
    font-family: Arial, sans-serif;
    background-color: #f8f6f5;
    margin: 0;
    padding: 0;
}


.banner {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.form-button {
    padding: 10px;
    width: 28%; /* Adjust this value as necessary to fit all buttons */
    background-color: #5cb85c; /* Example color, adjust as needed */
    color: white;
    border: none;
    cursor: pointer;
}

.frm {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #c9d1c9;
    color: rgb(4, 4, 4);
    border: none;
    cursor: auto;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #4cae4c;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin: 0 auto; /* Keeps horizontal centering */
    margin-top: 20px;
}

.side-window {
    position: fixed; /* Fixed sidebar (stay in place on scroll) */
    right: 0;
    top: 0;
    width: 300px; /* Set the width of the sidebar */
    height: 100%; /* Full height */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: #f1f1f1; /* Sidebar background color */
    z-index: 1000; /* Ensure sidebar is on top of other content */
    display: none;
}

.side-window form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.side-window input[type="text"], .side-window textarea {
    margin-bottom: 10px;
    padding: 10px;
}
.side-window button {
    cursor: pointer;
}

#listDates {
    float: right;
}

h1 {
    color: #333;
    text-align: center;
}

#itemInput {
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
}


#addItemButton {
    padding: 10px;
    width: 28%;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

#downloadListButton {
    padding: 10px;
    width: 28%;
    background-color: #f696de;
    color: white;
    border: none;
    cursor: pointer;
}

#downloadListButton:hover {
    background-color: #ed62e4;
}

#addItemButton:hover {
    background-color: #4cae4c;
}

#shoppingList {
    list-style-type: none;
    padding: 0;
}

#shoppingList li {
    display: flex;
    align-items: center; /* This ensures vertical centering of checkbox and text */
    background-color: #eee;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
}

#saveListButton {
    background-color:purple
}

#saveListButton:hover {
    background-color: #560181;
}

#savedListsButton {
    background-color:orange
}

#savedListsButton:hover {
    background-color: #bd710d;
}

#clearListButton {
    padding: 10px;
    width: 28%;
    background-color: #d9534f; 
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px; 
}

#clearListButton:hover {
    background-color: #c9302c;
}

#shoppingList li input[type="checkbox"] {
    margin-right: 10px;
}

#toggleSideWindowBtn {
    padding: 10px;
    background-color: #3498db; /* Choose a color that fits your design */
    color: white;
    border: none;
    cursor: pointer;
}

#toggleSideWindowBtn:hover {
    background-color: #2980b9; /* Slightly darker shade on hover */
}

