:root {
    --primary-bg-color: #5cb85c; /* Main button color */
    --primary-text-color: white;
    --hover-bg-color: #4cae4c; /* Hover state color */
    --error-bg-color: #d9534f; /* Error state color */
    --secondary-bg-color: #f696de; /* Secondary button color */
    --banner-bg-color: #333; /* Banner background color */
    --base-border-radius: 5px;
}

.banner {
    background-color: var(--banner-bg-color);
    padding: 10px 0;
    text-align: center;
    color: var(--primary-text-color); /* Improved contrast */
}

.btn, .form-button, #addItemButton, #downloadListButton, #processListButton, #saveListButton, #clearListButton, #toggleSideWindowBtn {
    display: flex;
    flex-direction: column;  /* Aligns the children (buttons) in a vertical column */
    align-items: start; 
    
    padding: 10px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    border-radius: var(--base-border-radius);
    text-decoration: none;
    margin: 0 10px;
}

#processListButton, #saveListButton {
    background-color: var(--error-bg-color); /* Use for critical actions */
}

#downloadListButton {
    background-color: var(--secondary-bg-color);
}

.btn:hover, #addItemButton:hover, #downloadListButton:hover, #saveListButton:hover, #clearListButton:hover, #toggleSideWindowBtn:hover {
    background-color: var(--hover-bg-color);
}

#clearListButton, #toggleSideWindowBtn {
    background-color: var(--error-bg-color);
}

.side-window {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    transition: right 0.3s;
}



