/* dietary_labels.css */

/* Style for the dropdown container */
#dietaryFilterContainer {
    margin-top: 20px;
}

/* Style for the dropdown select element */
#dietaryFilter {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

/* Style for the dropdown options */
#dietaryFilter option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

/* Add custom styles for dietary labels dropdown */
#dietaryFilter option[value="Vegan"] {
    color: green;
}
#dietaryFilter option[value="Vegetarian"] {
    color: orange;
}
#dietaryFilter option[value="Gluten-Free"] {
    color: blue;
}
#dietaryFilter option[value="Keto"] {
    color: purple;
}
#dietaryFilter option[value="Paleo"] {
    color: brown;
}
#dietaryFilter option[value="Dairy-Free"] {
    color: lightblue;
}
#dietaryFilter option[value="Pescatarian"] {
    color: teal;
}
#dietaryFilter option[value="Food Allergens"] {
    color: red;
}
