.savedListsHeader, .shoppingListHeader {
    text-align: center;
    margin-bottom: 10px;
}

.saved-lists-container, #categoriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    max-width: 800px; /* limit max width for better control */
}

.shoppingListHeader {
    color: var(--text-color);
    text-align: left;
    margin-left: 150px;
}

#shoppingList, #shoppingList li {
    list-style-type: none;
    background-color: #eee;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
}
