<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylestwo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesfooter.css') }}">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="header">
        <a href="#" class="logo">GroceryGenie</a>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>                
            <a href="#">Contact</a>
        </nav>
    </div>
    <div style="text-align: center; margin-top: 80px;"> <!-- Increased margin-top for logo alignment -->
        <img src="{{ url_for('static', filename='images/GroceryGenie logo.png') }}" alt="GroceryGenie Logo" style="width: 200px; margin: auto;">
    </div>
    <div class="container" style="margin: 0 auto; width: fit-content; padding-top: 50px;">
        <h1>My Shopping List</h1>
        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
            <div style="margin-right: 10px;">
                <label for="categorizationType" style="margin-bottom: 5px;">Categorization Type:</label>
                <select id="categorizationType">
                    <option value="Walmart">Walmart</option>
                    <option value="HEB">HEB</option>
                </select>
            </div>
            <input type="text" id="itemInput" name="item_text" placeholder="Add new item...">
        </div>
        <button id="addItemButton" onclick="addItem()">Add Item</button>
        <button id="clearListButton" onclick="clearList()">Clear List</button>
        <button id="downloadListButton" onclick="downloadList()">Download List</button>
        
        <div id="categoriesContainer" style="margin-top: 20px;">
            <!-- Categories will be added dynamically -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        // Event listener for adding an item when the Enter key is pressed
        document.getElementById("itemInput").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Prevent the default action to stop submitting form
                addItem();
            }
        });
    </script>

    <footer>
        <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="links">
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div style="margin: 20px auto 0; width: 90px;">
            <img src="{{ url_for('static', filename='images/GroceryGenie logo.png') }}" alt="GroceryGenie Logo" style="width: 100%; border-radius: 70px;">
        </div>
    </footer>
</body>
</html>
