<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>My Shopping List</h1>
        <input type="text" id="itemInput" placeholder="Add new item...">
        <button id="addItemButton" onclick="addItem()">Add Item</button>
        <button id="clearListButton" onclick="clearList()">Clear List</button> <!-- Clear List button -->
        <button id="downloadListButton" onclick="downloadList()">Download List</button>
        <ul id="shoppingList">
            <!-- List items with checkboxes will be added here -->
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>

