<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - GroceryGenie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/GroceryGenie logo.png') }}" alt="GroceryGenie Logo" style="display: block; margin: auto; padding-top: 50px; width: 200px;">
    <div style="margin: auto; width: fit-content; padding-top: 20px;">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <button onclick="location.href='/register'" style="margin-top: 20px;">Create Account</button>
    </div>


    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="company-info">
                    <h3>Company Name</h3>
                    <p>About Us: a smart grocery list which intends to streamline your shopping experience.</p>
                </div>
                <div class="useful-links">
                    <h3>Useful Links</h3>
                    <ul>
                    </ul>
                </div>
                <div class="contact-info">
                    <h3>Contact Information</h3>
                    <p>Address: 123 Main St, San Marcos</p>
                    <p>Email: info@example.com</p>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>

